body{
/* background-color: burlywood; */
background-image:url('../images/backgrd3.png');

background-size: cover;
}
#navbar{
    position: fixed;
    top:0%;
    width: 51%;
    height:130px;
    padding-left: 58%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: antiquewhite;
    letter-spacing: 6px;
    z-index: 3;
    margin-top: 5px;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size:30px;
 

      
}
.seca{
    position: absolute;
    left: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
#header_img{
   
    width: 100%;
    height:89vh;
    opacity: .9;
    background-image: url("../images/pexels-waldemar-brandt-2541239.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-position-y: 10px;
    top: 25%;
    margin-top:50px;
}
#logo{
    display:flex;
    height: 150px;
  position:fixed;
  left:200px;
 } 

#donate_title{
    font-size: 40px;
 
    

}
#donate_section{
    display: flex;
    border-top-left-radius: 20px;
    height: 80vh;
 


    
}
#donate_text{
    text-align: left;
    margin-left: 5%;
    width:500px;
    padding:10px;
    font-size:20px
}
#donspan{
    font-size:30px;
}
#linkcon{
    color:rgb(146, 71, 28);
}
.btn{
    margin:40px;
    width:250px;
    height:50px;
    background-color:rgb(32, 102, 32);
    font-size: 25px;
    color: whitesmoke;
    /* border-radius: 15px; */
    border-color: transparent;
    font-family: rubik;
    box-shadow: 1px 2px 4px 292929;
}
.btn:hover{
    background-color: #db8b26;
    cursor: pointer;
}


span{
    font-weight:bold;
    font-size:12px;
}

.card{
    border-style:solid;
    border-color: rgb(32, 102, 32);
    border-width:8px;
    padding:10px 10px 0px 10px;
   
    width:350px;
    height:500px;
    margin:5px;
    background-color: antiquewhite;
    
}
.card-img-top{  
    /* margin:auto; */
    width:350px;
    height:250px; 
   
}
.card-title{
    font-size:20px;
    text-align: center;
   
}
.card-text{
    font-size:12px;
}

.carddiv1{
    display:flex;
    margin-left:150px;
    padding-top:20px;
   
}

.carddiv2{
    display:flex;
}
#about_title{
    font-size: 40px;
    margin-right: 5%;
    margin-left:5%;
}
#about_section{
    display: flex;
   
    
}
.about_text{
    text-align: left;
    margin-right: 5%;
    width:300px;
    padding:10px;
    font-size:20px;
   
}
.see{
    margin-left:20px;
    font-size:30px;
    color:rgb(146, 71, 28);

}
#footer{
    display: block;
}
.contact{
    width:300px;
    position: relative;
    margin-left: 6%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  /* bottom: 30px; */
  float: left;

}
.subscribe{
    text-align: center;
    /* position: fixed; */
    margin-left: 2%;
    font-size:20px;
    position: relative;
    right: 1%;

}
#subtitle{
    font-size:30px;
    position: relative;
    right: 1%;
}

#seca1 {
    /* position: relative; */
    /* top: 77%; */
    width: 400px;
    height: auto;
    float: left;
    
}
/* donate form */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
   flex: 25%;
  }
  .col-50 {
    flex: 45%;
  }
  
  .col-50, .col-25{
  
    padding-left:20px;
    padding-right:30px;
    
  }
  
  .container2 {
    background-color: burlywood;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  .input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .label {
    margin-bottom: 10px;
    display: block;
  }  
  button {
    background-color: rgb(32, 102, 32);
    color: antiquewhite;
    padding: 12px;
    margin: -27px 0;
    border-style: solid;
    cursor: pointer;
    width:600px;
    height:50px;
    opacity: 0.9;
    border-radius: 3px;
    font-size:25px;
  }
  button:hover {
    opacity:1;
    background-color: #db8b26;
  } 
  .cancelbtn, .signupbtn {
    float: left;
    width: 30%;
  }
  .modal { 
    display: none;
    position: fixed;
     z-index: 1;
    left: 0;
    top: 0; 
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color:rgb(199, 103, 49) ;
    padding-top: 50px;
  }
   .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  } 
  .clearfix{
    width:90%
  } 
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } 

  /* submit form */
.sub {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   
  }
  
  .sub {
    background-color: antiquewhite;
    color: antiquewhite;
    border: none;
  }
  
  
#form{
    background-color:burlywood;
}
  
@media(max-width: 1024px){
  #navbar{
    position: fixed;
    top:0%;
    width: 53%;
    height:110px;
    padding-left: 45%;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: antiquewhite;
    letter-spacing: 5px;
    z-index: 3;
    margin-top: 5px; 
    font-size: 1%; 
   
}
#logo{
 margin-left: -17%;
 width: 100%;
 height: 9%;
 display: flex;
 position: fixed;
 left: 138px;
 top: 45px;
} 
.nav-link{

  color: black;
  font-size:18px;
position: relative;
right: -57px;

    
}
.seca{
  position: absolute;
  left: 20px;
  text-decoration: none;
  color: black;
  font-size: 30px;
}
#header_img{
  display: none; 
  width: 100%;
  height:81vh;
  opacity: .9;
  background-image: url("../images/pexels-waldemar-brandt-2541239.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-position-y: 10px;
  top: 25%;
  margin-top:50px;
}
#donate_title{
  font-size: 40px;

  

}
#donate_section{
  display: flex;
  border-top-left-radius: 20px;
  height: 150vh;



  
}
#donate_text{

  width:475px;
margin-left: 27%;
  font-size:16px;
  
}
#donspan{
  font-size:30px;
}

.btn{
  margin:40px;
  width:250px;
  height:50px;
  background-color:rgb(32, 102, 32);
  font-size: 25px;
  color: whitesmoke;
  /* border-radius: 15px; */
  border-color: transparent;
  font-family: rubik;
  box-shadow: 1px 2px 4px 292929;
}





.card{
  width:357px;
  height:439px;
  margin:5px;
 position: relative;
 top: 535px;
 right: 39%;
  
}
.card-img-top{  
  margin:auto;
  width:357px;
  height:229px; 
 
}
.card-title{
  font-size:20px;
  text-align: center;
 
}
.card-text{
  font-size:11px
}

.carddiv1{
  display:block;
  margin-left:-239px;
  padding-top:20px;
  position: absolute;
  right: 25px;
}

.carddiv2{
  display:none;
}
#about{
  display: none;
}
#about_title{
  font-size: 40px;
  margin-right: 5%;
  margin-left:5%;
}
#about_section{
  display: flex;
 
  
}
.about_text{
  text-align: left;
  margin-right: 5%;
  width:300px;
  padding:10px;
  font-size:20px;
 
}
.see{
  margin-left:20px;
  font-size:30px;
  color:rgb(146, 71, 28);

}

.contact{
  margin-left: 38%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 18px;


}

#subtitle{
  font-size:30px;
}
button {
  background-color: rgb(32, 102, 32);
  color: antiquewhite;
 
  margin: -27px 0;
  border-style: solid;

  width:152%;
  height:50px;
 
  border-radius: 3px;
  font-size:25px;
}
#seca1 {
 width: 400px;
  height: auto;
  float: left;
  display: none;
  
}
.subscribe{
  text-align: center;
  /* position: fixed; */
  margin-left: 25%;
  font-size:20px;
  position: absolute;
  right: 26%;
top: 169%
}
#footer{
  height: 100vh;
}
}

