body{
    background-image:url('./images/image17.png');
  background-size: 100%;
  
    }



    .item1 { grid-area: nav; }
    .item2 {grid-area: header;}
    /* .item3 { grid-area: menu; } */
    .item3 { grid-area: main; }
   .item4 {grid-area: info;}
    .item5 { grid-area: right; }
    .item6 {grid-area: partners}
    .item7 {grid-area: about; }
    .item8 {grid-area: space;}
    .item9{grid-area: sub;}
    .item10 {grid-area: follow;}
   
    .item11 { grid-area: footer; }




    
    .grid-container {
      display: grid;
      grid-template-areas:
      'nav'
        'header'
        'main'
        'info'
        ' right'
        'partners'
        'about'
        'space'
        'sub'
        'follow'
         'footer';
       
        grid-template-rows: 95px 700px 450px 600px 300px 500px 600px 200px 600px 200px 150px;
      grid-gap: 20px;
    }
    
    .grid-container > div {
     text-align: center;
      font-size: 30px;
      
    }
    #logo{
        height: 8vh;
      margin-right: 87%;
      margin-top: -1%;
      width: 10%;
      opacity: 1;
  
     } 
     .item1{
         position: fixed;
         width: 99%;
         z-index: 1;
         opacity: 1;
         background-color: rgba(255, 255, 255, 0.6) !important;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
     }

     .nav-link{
         text-decoration: none;
        padding: 70px;
        color: black;        
        }
        .nav-link:hover{
            color: #db8b26;
        }
        #linkcon{
            text-decoration: none;
        }
    .item2{
        background-image: url("./images/pexels-sayantan-kundu-951007.jpg");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 6%;
         /* position: relative; 
            height: 300px; */
          
    
        
    }
    #SECA{
        margin-left: 72%;
       
      text-shadow: 2px 2px white;
       
        z-index: 1;
        margin-top: 1%;
        opacity: 0.8;
        
            background-color: rgb(32, 102, 32);
           
            font-size: 64px; /* Responsive font size */
            font-weight: bold;
            margin: 0 auto; /* Center the text container */
            padding: 10px;
            width: 97.9%;
            text-align: center; /* Center text */
            position: absolute; /* Position text */
            top: 22%; /* Position text in the middle */
            left: 50%; /* Position text in the middle */
            transform: translate(-50%, -50%); /* Position text in the middle */
            mix-blend-mode: screen; /* This makes the cutout text possible */
          
    }
    #mission_title{
        font-size: 30px;
margin-top: 2%;
font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow: 3px 3px black;
    }
    #donate_text{
        font-size: 20px;
        margin-top: 2%;
    }
    .item3{
        /* height: 72vh; */
        background-image: url("./images/background.png");
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
 color: black;
 text-shadow:1px 1px  #db8b26;

    }
    .vl {
      border-left: 6px solid rgb(32, 102, 32);
      height: 620px;
      position: absolute;
      left: 47%;
      margin-left: -3px;
      top: 172%;
    }
   
    .sponsorinfo{
        position: relative;
        right: 30%;
        bottom: 20%;
        font-size: 20px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow:3px 3px  black;
    }
    #icon1{
        width: 120px;
        height: 120px;
        border-radius: 15%;
        border-color: #db8b26;
        border-left-color: black;
        border-right-color: black;
        border-style: solid;
        border-width: 2px;
        position: relative;
        right: 14%;
        bottom: 61%;
       
    }
    #icon2{
        width: 120px;
        height: 120px;
        border-radius: 15%;
        border-color: #db8b26;
        border-top-color: black;
        border-bottom-color: black;
        border-style: solid;
        border-width: 2px;
        position: relative;
        right: -8%;
        top: -30%;
    }
    #icon3{
        width: 120px;
        height: 120px;
        border-radius: 15%;
        border-color: #db8b26;
        border-left-color: black;
        border-right-color: black;
        border-style: solid;
        border-width: 2px;
        position: relative;
        right: 32%;
        top: 0%; 
    }
    #button1{
       position: relative;
       left:9%;
       bottom: 5%;
     
    }
    .sponsorship{
        font-size: 20px;
        width: 44%;
        position: relative;
        top: -2.5%;
       left:50%;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow:3px 3px  black;
    }
    .hl1{
         border-bottom: 2px solid black;
         width: 650px;
         position: relative;
         top: 23%;
         left: 2%;
    }
    .hl2{
      border-bottom: 2px solid black;
      width: 650px;
      position: relative;
      top: 53%;
      left: 2%;
 }

    #test1{
   position: relative;
   bottom: 14%;
   right: 24%;
   font-size: 19px;
   font-weight: bold;

    }
      #test2{
          font-size:19px;
          position: relative;
          top: 8%;
        right: 32%;
        font-weight: bold;
      }
      #test3{
          font-size:19px;
          position: relative;
          top: 27%;
         right: 22%;
         font-weight: bold;
      }
      #sponsortext{
          font-size: 20px;
        margin-left: 45%;
        margin-top: -15%;
         font-weight: bold;
        line-height: 30px;
         
      }
      
      
    .card-text{
        font-size: 18px;
    }
    .item5{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
       /* position: relative; */
       /* top:-158%; */
    }
    .flip-card1 {
        background-color: transparent;
        width: 300px;
        height: 300px;
        border: 1px solid black;
        perspective: 1000px;
     overflow-y: hidden;
     overflow-x: hidden;
     overflow: -moz-hidden-unscrollable;      
      }
      
      /* This container is needed to position the front and back side */
      .flip-card-inner1 {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.8s;
        transform-style: preserve-3d;
        font-size: 15px;
      }
      
      /* Do an horizontal flip when you move the mouse over the flip box container */
      .flip-card1:hover .flip-card-inner1 {
        transform: rotateY(180deg);
      }
      
      /* Position the front and back side */
      .flip-card-front1, .flip-card-back1 {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
      }
      
      /* Style the front side (fallback if image is missing) */
      .flip-card-front1 {
        background-color: #bbb;
        color: black;
        overflow-y: hidden;
      
      }
      
      /* Style the back side */
      .flip-card-back1 {
        background-color: #ea8b16;
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 16px;
        transform: rotateY(180deg);
      }
     
      #about_title{
        position: relative;
        right: 25%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow: 3px 3px black;
        margin-top: 9%;
    }
      .about_text{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 20px;
      position: relative;
      right: 25%;
      text-shadow:1px 1px  #db8b26;
      /* margin-top: 13%; */
      }
      .partners1{
        font-size: 32px;
        line-height: 80px;
        float: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        text-shadow: 3px 3px #db8b26;
        position: relative;
        bottom: 10%;
       
      }
      ul {
        list-style: none;
      }
      
      ul li::before {
        content: "\2022";
        color: black;
       display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
      .partners2{
        font-size: 32px;
        line-height: 80px;
        float: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: black;
        text-shadow: 3px 3px #db8b26;
        position: relative;
        bottom: 10%;
        left: 16%;
      }
      #partnerTitle{
          font-size: 52px;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow: 3px 3px black;

      }
      .item7{
          background-image: url("./images/pic1.png");
          background-attachment: fixed;
          background-repeat: no-repeat;
          background-size: cover;
          background-position-x: 450px;
          background-color: rgba(255, 255, 255, 0.8);
          color: black;
          text-shadow:3px 3px  #db8b26;
      }
      #img1{
          width: 100px;
          height: 100px;
          margin-top: 1%;
          position: relative;
          right: 8%;
      }
      #img2{
        width: 100px;
        height: 100px;
        position: relative; 
        right: 0%; 
      }
      #img3{
        width: 100px;
        height: 100px;
        position: relative;
        left: 8%;
      }
     #followTitle{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow:3px 3px  black;
        font-size: 42px;
        margin-top: 20%;
     }
  /* .item8{
border-top: rgb(32, 102, 32);
border-bottom: rgb(32, 102, 32);
  }
  */
    .subscribe{
        text-align: center;
        /* position: fixed; */
        margin-left: 55%;
        font-size:20px;
        position: relative;
        right: 1%;
        color: whitesmoke;
    }
    #subtitle{
        font-size:30px;
        position: relative;
        right: 1%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: #db8b26;
        text-shadow: 2px 2px  black;
    }
    #subtext{
        color: black;
        text-shadow:1px 1px  #db8b26;
    }
    #subtext1{
        color: black;
        text-shadow:1px 1px  #db8b26;
    }
    .container{
        color: black;
        text-shadow:1px 1px  #db8b26;
    }
    
.item9{
    /* background-color: rgba(255, 255, 255, 0.8); */
    background-image: url("./images/lynx3.jpg");
    background-attachment: fixed;
          background-repeat: no-repeat;
          background-size: contain;
          border-style: solid;
        border-radius: 3px;
        border-color: black;
       
}

    /* donate form */

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  
  .col-25 {
   flex: 25%;
  }
  .col-50 {
    flex: 45%;
  }
  
  .col-50, .col-25{
  
    padding-left:20px;
    padding-right:30px;
    
  }
  
  .container2 {
    background-color: burlywood;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
  }
  .input{
    width: 100%;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .label {
    margin-bottom: 10px;
    display: block;
  }  
  button {
    background-color: rgb(32, 102, 32);
    color: antiquewhite;
    text-shadow: 2px 2px  black;
    padding: 12px;
    margin: -27px 0;
    border-style: solid;
    cursor: pointer;
    width:600px;
    height:50px;
    opacity: 0.9;
    border-radius: 3px;
    font-size:28px;
    
    margin-top: 2%;
  }
  button:hover {
    opacity:1;
    background-color: #db8b26;
  } 
  .cancelbtn, .signupbtn {
    float: left;
    width: 30%;
  }
  .modal { 
    display: none;
    position: fixed;
     z-index: 1;
    left: 0;
    top: 0; 
    width: 100%; 
    height: 100%;
    overflow: auto;
    background-color:rgb(199, 103, 49) ;
    padding-top: 50px;
  }
   .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 80%; 
  } 
  .clearfix{
    width:90%
  } 
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  } 

  /* submit form */
.sub {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   
  }
  
  .sub {
    background-color: antiquewhite;
    color: antiquewhite;
    border: none;
  }
  
  
#form{
    background-color:transparent;
}

  .item11{
        display: flex;
    }

    .contact {
      position: relative;
      margin-right: -225%;
      margin-top: -26%;
    }

#seca1 {
        width: 200px;
        height: 100px;
        position: relative;
        left: -25%;
        margin-top: 2%;

        
    }
 
   .contactUs{
     font-size: 22px;

   }

   #email{
     font-size: 22px;
    position: relative;
    margin-top: -10%;
    margin-left: 88%;
   }

   @media (max-width: 1024px){
    #logo{
      height: 8vh;
    margin-top:1%;
    width:100px;
  
   } 
   .item1{
     height:130px;
     width:100%;
   }
   .nav-link{
     font-size: 25px;
     padding:0px;
   }
  .item2{
    background-position-x: -459px;
    background-position-y: -25px;
    margin-top:18%;
    width:100%;
  }
  #SECA{
    width:95%;
    height:90px;
    font-size:46px;
    margin: -27px auto;
    left:50%;
      /* padding: 10px; */
  }
  .btn{
    width:260px;
    margin-top: 11px;
    }
    .item3{
      width:100%;
    }
    .item4{
     grid-template-areas: 
     "sponsorInfo sponsorInfo"
     "sponsorship sponsorship";
      grid-template-rows: 50% 40%;
    }
  
    .grid-container {
      grid-template-rows: 95px 700px 500px 1000px 650px 500px 400px 200px 450px 150px;
    }
    .item5{
      margin:0px 45px 0px 45px;
    }
    .flip-card1{
      padding-top:5px;
  
    }
    #baycat{
      visibility:hidden;
    }
  .partners2, .partners1{
    font-size:15px;
   
  }
  ul{
    padding-inline-start: 20px;
    padding-inline-end: 15px;
  }
  .item7{
    width:100%;
    background-position-x: 247px;
    background-position-y:350px;
    background-size:90%;
  }
  #about_title{
    margin-top: 3%;
  }
  .about_text{
    font-size: 15px;
  }
  .item9{
    background-position-x: -72px;
    background-position-y:391px; 
    background-size: 62%;
  }
  #subbtn{
    width: 235px;
  }
  #sub5{
    font-size: 20px;
  }
  .sub{
    width: 290px;
  }
  #e{
    font-size: 20px;
  }
  #seca1{
    left: -1%;
  }
  .contact{
   margin-left: 45px;
  }
  #e2{
    margin-left: 58px;
  }
  
  }
         
  @media (max-width: 568px){
    .grid-container {
      grid-template-rows: 125px 700px 550px 1400px 650px 500px 500px 200px 450px 200px;
    }
  #SECA{
    margin-top:70px;
    padding:0px;
    width:610px;
    left:314px;
    font-size:40px;
  }
  .item2{
    background-position-x: -598px;
  }
  .sponsor{
    font-size:30px;
  }
  .sponsortext{
    font-size:20px;
  }
  #button1{
    width:400px;
    padding:5px;
    margin:0px;
  }
  
    .item5{
      margin:0px 4px 0px 4px;
      flex-wrap:wrap;
    }
  .flip-card1{
    width: 280px;
    height: 280px;
  }
  .flip-card-back1{
    font-size:12px;
  }
  
  #followTitle{
    font-size:30px;
  }
  .partners1, .partners2{
  margin:0px;
  padding:0px;
  width:43%
  }
  #seca1{
    left: -1%;
    width:150px;
  }
  .contact{
    width:236px;
   margin-left: 5px;
   text-align:center;
  }
  #e2{
    margin-left: 5px;
    width:216px;
  }
  
  .item9{
    background-position-x: -116px;
    background-position-y:467px; 
    background-size: 72%;
  }
  .cancelbtn, .signupbtn {
    width:200px;
  }
  .sub{
    width:200px;
  }
  #subscribe{
    width:150px;
    
  }
  #sub6{
    font-size:15px;
    padding:5px;
    text-align:center
  }
  #subtitle{
    font-size:25px;
  }
  .icondiv1, .icondiv2, .icondiv3{
    padding-left:30px;
    width:550px;
  }
  /* .icondiv2{
  width:400px;
  } */
  #test1, #test3{
    padding-left:15px;
  }
  
  }